* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-list {
  margin: 100px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #c0c6ff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.todo-list h1 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
}
.todo-input {
  display: flex;
  margin-bottom: 10px;
}

.todo-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.todo-input button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #9c27b0;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.todo-input button:hover,
.todo-items button:hover {
  background-color: rgba(156, 39, 176, 0.8);
}
.todo-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.todo-items button {
  padding: 6px 10px;
  background-color: purple;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
